* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: #243db3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

.navbar img {
  height: 60px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 30px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: #ffce00;
}

.main {
  background: url('images/uni.webp') no-repeat center center/cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main h1 {
  color: white;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 15px;
}

.main p {
  color: white;
  font-size: 20px;
  margin-bottom: 25px;
}

.button {
  background: #e71d1d;
  border: none;
  color: white;
  font-size: 18px;
  padding: 12px 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: #b31515;
}

.main-content {
  padding: 40px;
  text-align: center;
  border-radius: 10px;
}

.info-bar {
  background-color: #e2231a;
  color: white;
  text-align: center;
  padding: 10px 20px;
  font-size: 0.95rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 40px;
}

.content .text, 
.content .image {
  flex: 1;
}

.content .image img {
  width: 100%;
  height: 300px;
}

.criteria {
  background: url('images/background.jpg') no-repeat center center/cover;
  text-align: center;
  color: white;
  padding: 60px 20px;
}

.criteria h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: orange;
}

.criteria-box {
  margin: 0 auto;
  max-width: 700px;
}

.criteria-box p {
  background: orange;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  color: black;
}

.register {
  background: white;
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

form {
  background: #f2f2f2;
  padding: 30px;
  border: 3px solid #4503c0;
  border-radius: 10px;
  width: 80%;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

input {
  width: 45%;
  padding: 12px;
  border: 1px solid #afabab;
  border-radius: 6px;
  font-size: 15px;
}

.submit-btn {
  background: #1a2eb8;
  color: white;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  font-size: 18px;
}

